<div class="container mt-5 border rounded bg-light">
    <h1 class="text-center mt-3 mb-3">Editar Cliente</h1>

    <%= render 'form', client: @client %>

    <div class="pt-4 mb-4">
        <%= link_to 'Inicio', root_path, class:"btn btn-dark" %>
    </div>
</div>
