<div class="container mt-5 border rounded bg-light">
    <h1 class="text-center mt-3 mb-3">Nuevo Cliente</h1>

    <%= render 'form', client: @client %>
    
    <div>
        <%= link_to 'Volver', clients_path, class:"btn btn-dark mt-3 mb-3"%>
    </div>        
</div>